  /*
CSS: element, id, class
selector{
    property:value;
}
*/
body{ 
   background-image: url("https://cloud.githubusercontent.com/assets/15823677/11907449/f5a56a3a-a5a1-11e5-87e4-01491f1c9b3f.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
}

body {
  
  }

#header {
  text-align: left;
  text-decoration: none;
  font-variant: small-caps;  
 
 margin-top: -50px; 
 color: tan;
  
}
a:link {
    text-decoration: none;
  
}
ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
} 
li {
    float: right;
}

ul a {
    display: block;
    padding: 8px;
    background-color: ;
    color: tan;
}

}

#navwords a{
    color: tan;
}


div.transbox {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
    background-color: #f2f2f2;
   opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox h2 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 175px;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
